{% extends "common/base.html" %}
{% block content %}
    <style>
        .container_success {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .success-message {
            color: #4CAF50;
        }

        .error-message {
            color: #FF5733;
        }

        .footer_success {
            text-align: center;
            margin-top: 20px;
        }
    </style>

    <body>
    <section class="wrapper" style="margin-top: 50px">
        <div class="container_success">
            <div class="header">
                <h1>Email Confirmation</h1>
            </div>
            <div class="content">
                {% if success %}
                    <p class="success-message" style="text-align: center">Thank you, {{ user.username }}, your account
                        is confirmed successfully!</p>
                {% else %}
                    <p class="error-message">Error, invalid token!</p>
                {% endif %}
            </div>
            <div class="footer_success">
                <p>© 2023 My Cook Book. All rights reserved.</p>
            </div>
        </div>
    </section>
    </body>
{% endblock %}
