{% extends "common/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Password reset{% endblock title %}

{% block content %}
    <section class="wrapper" style="margin-top: 50px">
        <div class="container-fostrap">
            <div class="login-form">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <h2 class="text-center">Reset password</h2>
                    <div class="form-group">
                        {{ form.new_password1|as_crispy_field }}
                        {{ form.new_password1.errors|striptags }}
                    </div>
                    <div class="form-group">
                        {{ form.new_password2|as_crispy_field }}
                        {{ form.new_password2.errors|striptags }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Reset password</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
