<div class="hero-image flex-container" style="margin-top: 60px">
  <div class="hero-text">
    <h1 class="flex-container" style="font-size:50px">What are you going to cook today?</h1>
{#    <p>Search for your favorite recipe</p>#}
      <form method="get" class="navbar-form form-inline" action="{% url 'search results' %}">
            <div class="input-group search-box">
                <input type="text" id="search" class="form-control" name="q" placeholder="Search by title, ingredients or cuisine">
                <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
            </div>
        </form>
  </div>
</div>