{% extends "common/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Password reset{% endblock title %}

{% block content %}
    <div class="login-form">
        <form action="{% url 'password reset' %}" method="post" novalidate>
            {% csrf_token %}
            <h2 class="text-center">Password reset</h2>
            <div class="form-group">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Send email</button>
            </div>
        </form>
    </div>
{% endblock %}
