{% extends 'common/base.html' %}

{% block content %}
    <section class="wrapper">
        <div class="container-fostrap">
            <h1>Confirm Delete</h1>

            <p>Are you sure you want to delete your account "{{ user.username }}"?</p>

            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Delete</button>
                <input class="btn" type="button" value="Cancel" onclick="history.back()">
            </form>
        </div>
    </section>
{% endblock %}
