{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="about-section paddingTB60 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="about-title clearfix">
                        <h1>About <span>My cook book</span></h1>
                        <h3>Welcome to My Cook Book, the ultimate destination for all your culinary adventures! </h3>
                        <p class="about-paddingB">At My Cook Book, we believe that cooking is an art form that should be
                            shared and celebrated. Our platform is designed to bring together food enthusiasts from all
                            walks of life, allowing them to upload their favorite recipes and receive recognition for
                            their culinary creations.

                            With My Cook Book, the process of sharing your recipes is incredibly simple and intuitive.
                            Our user-friendly interface guides you through each step, from providing a catchy title and
                            vibrant photos to sharing detailed instructions and ingredient lists. You can even add
                            personal touches like cooking tips, variations, and serving suggestions to make your recipe
                            truly stand out.

                            But My Cook Book is more than just a recipe repository. It's a thriving community of
                            passionate food lovers who are eager to explore, learn, and connect. By joining My Cook
                            Book, you gain access to an extensive collection of recipes spanning a wide range of
                            cuisines, dietary preferences, and cooking styles. Whether you're a fan of comforting
                            classics, exotic international dishes, healthy alternatives, or indulgent desserts, My Cook
                            Book has it all.

                            What sets My Cook Book apart is the interactive nature of our platform. Each recipe can
                            receive ratings and reviews from fellow users, providing valuable feedback and recognition.
                            Not only does this foster a sense of camaraderie among food enthusiasts, but it also helps
                            you improve your culinary skills and discover new flavors. You can even engage in lively
                            discussions, ask questions, and exchange tips with the My Cook Book community.

                            Whether you're a seasoned chef looking to showcase your expertise or a kitchen novice
                            seeking inspiration, My Cook Book is the perfect platform for you. Our goal is to inspire
                            creativity, foster a love for cooking, and empower everyone to unleash their inner chef.
                            From traditional family recipes passed down through generations to innovative culinary
                            experiments, My Cook Book is a melting pot of gastronomic delights waiting to be explored.

                            So, why wait? Join the My Cook Book community today and embark on a culinary journey like no
                            other. Discover new flavors, learn from passionate cooks, and let your culinary skills
                            shine. With My Cook Book, the joy of cooking and sharing delicious recipes has never been
                            easier or more rewarding. Get ready to tantalize taste buds, create unforgettable meals, and
                            make a mark in the world of culinary delights.</p>
                        <p>Happy cooking!</p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="about-img">
                        <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}