{% extends "common/base.html" %}
{% load static %}
{% block title %} Register{% endblock title %}

{% block content %}
    <section class="wrapper" style="margin-top: 50px">
        <div class="container-fostrap">
            <div class="signup-form">
                <form action="{% url 'register user' %}" method="post" novalidate>
                    {% csrf_token %}
                    <h2>Register</h2>
                    <div class="form-group">
                        <div class="row">
                            <label class="small mb-1">Username</label>
                            <br>
                            <strong style="color: #AF0808">{{ form.username.errors|striptags }}</strong>
                            {{ form.username }}
                            <label class="small mb-1">Email</label>
                            <br>
                            <strong style="color: #AF0808">{{ form.email.errors|striptags }}</strong>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">

                            <label class="small mb-1">Password</label>
                            <br>
                            <strong style="color: #AF0808">{{ form.password1.errors|striptags }}</strong>
                            {{ form.password1 }}
                            <label class="small mb-1">Confirm Password</label>
                            <br>
                            <strong style="color: #AF0808">{{ form.password2.errors|striptags }}</strong>
                            {{ form.password2 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Register Now</button>
                        </div>
                    </div>
                    <div class="text-center">Already have an account? <a href="{% url 'login' %}" style="color: blue">Sign
                        in</a></div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
