{% extends "common/base.html" %}
{% block title %} All Recipes{% endblock title %}
{% block content %}
    <section class="wrapper" style="margin-top: 50px">
        <div class="container-fostrap">
            <h1>All Recipes</h1>
            <div class="content">
                <div class="container" width="1500">
                    <div class="row justify-content-md-center">
                        {% for recipe in all_recipes %}
                            <div class="col-xl-12 col-sm-4">
                                {% include 'recipes/../partials/card.html' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="paginator">
        {% include 'common/../partials/pagination.html' %}
    </div>
{% endblock %}
