{% extends "common/base.html" %}
{% block title %} My Recipes{% endblock title %}
{% block content %}
    <section class="wrapper">
        <div class="container-fostrap">
            <h1>My Recipes:</h1>
            {% if my_recipes %}
                <div class="content">
                    <div class="container">
                        <div class="row">
                            {% for recipe in my_recipes %}
                                <div class="col-xs-12 col-sm-4">
                                    {% include 'recipes/../partials/card.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p>No recipes found.</p>
            {% endif %}
        </div>
    </section>
    <div class="paginator">
        {% include 'common/pagination.html' %}
    </div>
{% endblock %}
