{% extends "common/base.html" %}
{% block title %} All Recipes{% endblock title %}
{% block content %}

    <section class="wrapper" style="margin-top: 50px">
        {% if recipe_by_category %}
            <div class="container-fostrap">
                <h1>{{ category.title }}:</h1>
                <div class="content">
                    <div class="container">
                        <div class="row">
                            {% for recipe in recipe_by_category %}
                                <div class="col-xs-12 col-sm-4">
                                    {% include 'recipes/../partials/card.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container-fostrap">
                <h1>No recipes found.</h1>
            </div>
        {% endif %}
    </section>
    <div class="paginator">
        {% include 'common/../partials/pagination.html' %}
    </div>

{% endblock %}
