{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class='recipe-card'>
        {% if recipe.image %}
            <div style="background:url({{ recipe.image.url }}) no-repeat 50% 50%;
                    background-size:cover; height: 500px">
            </div>
        {% else %}
            <div style="background:url('/static/images/no-image-available.jpeg') no-repeat 50% 50%;
                    background-size:cover; height: 500px">
            </div>
        {% endif %}
        <div class="recipe-card__body rate-block">
            <h4 class="card-subtitle heart-right">Avg rating:
                <span class="fa fa-star {% if recipe.average_rating > 0 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if recipe.average_rating > 1 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if recipe.average_rating > 2 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if recipe.average_rating > 3 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if recipe.average_rating > 4 %} checked {% endif %}"></span>
            </h4>
            <span class="heart heart-right">
                <a href="{% url 'like recipe' recipe.pk recipe.slug %}">
                    {% if liked_recipe %}
                        <svg style="color: red"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="currentColor"
                             class="bi bi-heart-fill"
                             viewBox="0 0 16 16">
                        <!-- Coordinate path -->
                        <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735
                              8 15-7.534 4.736 3.562-3.248 8 1.314z"
                              fill="red">
                        </path>
                        </svg>
                    {% else %}
                        <svg aria-label="Like"
                             color="#262626"
                             fill="#262626"
                             height="24"
                             role="img"
                             viewBox="0 0 48 48"
                             width="24">
                            <!-- Coordinate path -->
                            <path d="M34.6 6.1c5.7 0 10.4 5.2 10.4
                                        11.5 0 6.8-5.9 11-11.5 16S25 41.3 24
                                        41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3
                                        11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3
                                        1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9
                                        1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9
                                        1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1
                                        0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3
                                        1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3
                                        1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2
                                        7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6
                                        48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                            </path>
                        </svg>
                    {% endif %}
                </a>
            Total likes: {{ recipe.likedrecipe_set.count }}
            </span>
        </div>

        <div class="recipe-card__body">
            <div id="printableArea">
                <h1 class="recipe-card__heading">{{ recipe.title }}</h1>
                <ul class="recipe-card__nav">
                    <li>
                        <h3 href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'ingredients')"
                            id="defaultOpen">Ingredients</h3>
                    </li>
                    <li>
                        <h3 href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'method')">
                            Instructions</h3>
                    </li>
                </ul>
                <div id="ingredients" class="tabcontent">
                    <ul class="recipe-card__ingredients">
                        <li>{{ recipe.ingredients|linebreaks }}</li>
                    </ul>
                </div>
                <div id="method" class="tabcontent">
                    <ul class="recipe-card__ingredients">
                        <li>{{ recipe.instructions|linebreaks }}</li>
                    </ul>
                </div>
            </div>

            <div class="recipe-card__body">
                {% if request.user.is_authenticated %}
                    <div>
                    <form method="post" action="{% url 'rate recipe' recipe.pk recipe.slug %}">
                        {% csrf_token %}
                        <div class="star-rating">
                            <input type="radio" id="rating-5" name="rating" value="5">
                            <label for="rating-5"></label>
                            <input type="radio" id="rating-4" name="rating" value="4">
                            <label for="rating-4"></label>
                            <input type="radio" id="rating-3" name="rating" value="3">
                            <label for="rating-3"></label>
                            <input type="radio" id="rating-2" name="rating" value="2">
                            <label for="rating-2"></label>
                            <input type="radio" id="rating-1" name="rating" value="1">
                            <label for="rating-1"></label>
                        </div>
                        <button class="btn btn-primary" type="submit">Rate</button>
                    </form>
                    <br>
                    {% if not added_to_favorite %}
                        <form method="post" action="{% url 'add to favorites' recipe.pk recipe.slug %}">
                            {% csrf_token %}
                            {{ add_to_favorite_form }}
                            <button type="submit" class="btn btn-primary">Add to My Favorites</button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'remove from favorites' recipe.pk recipe.slug %}">
                            {% csrf_token %}
                            {{ remove_from_favorite_form }}
                            <button type="submit" class="btn btn-primary">Remove from Favorites</button>
                        </form>
                    {% endif %}
                {% endif %}
                </div>
            </div>
            <div class="recipe-card__body">
                {% for comment in recipe.commentsmodel_set.all %}
                    <div id="rcorners">
                        <p><strong>{% firstof comment.user.profile.get_full_name comment.user.username %}</strong></p>
                        <p>{{ comment.text }}</p>
                        <span>{{ comment.published_date }}</span>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="recipe-card__body">
                {% if request.user.is_authenticated %}
                    <div>
                        <form method="post" action="{% url 'recipe details' recipe.pk recipe.slug %}">
                            {{ comment_form.text|as_crispy_field }}
                            <button class="btn btn-primary" type="submit">Post comment</button>
                            {% csrf_token %}
                        </form>
                    </div>
                {% endif %}
            </div>
            <div class="recipe-card__body">
                {% if request.user.is_staff %}
                    <a href="{% url 'edit recipe' recipe.pk recipe.slug %}">
                        <button class="btn btn-primary mt-4">Edit</button>
                    </a>
                    <a href="{% url 'delete recipe' recipe.pk recipe.slug %}">
                        <button class="btn btn-danger mt-3">Delete</button>
                    </a>
                {% endif %}
                <input class="btn btn-info" type="button" onclick="printDiv('printableArea')" value="Print"/>
                <input class="btn" type="button" value="Back" onclick="history.back()">
            </div>
        </div>
    </div>
    <script>
        function openTab(evt, cityName) {
            let i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();
    </script>
    <script>
        function printDiv(divName) {
            const printContents = document.getElementById(divName).innerHTML;
            const originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock %}
